.terminalcontaine {
    grid-column-gap: 83px;
    grid-row-gap: 30px;
    background: rgba(140, 169, 187, 0.05);
    border: 2px solid #eee9e9;
    border-radius: 10px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, .1);
    column-gap: 83px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: auto;
    
    padding: 42px 56px;
    width: 73%; /* Sayfanın genişliğine göre ayarlayabilirsiniz */
    margin: auto; /* Sayfayı ortalamak için */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.terminalCity {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    height: 100%;
}

.terminalCity a {
    color: #283350 !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.terminalCity a:hover{
    color: red !important;
}

.divImage img{
    margin-top: 2rem;
    width: 60%;
    height: 100%;
}

@media screen and (max-width: 980px) {
    .terminalcontaine{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);  
    }
 }
@media screen and (max-width: 650px) {
    .terminalcontaine{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);  
    }
 }